@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="display-4 mb-4">Hakkımızda</h2>
            <div class="underline mb-4"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <p>
                <strong>İyilik Köprüsü</strong>,  herhangi bir ayrımcılık yapmaksızın sizlerden gelen yardımları ihtiyaç sahiplerine ulaştırmak üzere kurulmuş yardım platformudur. Amacımız hayırseverler ile ihtiyaç sahiplerini bu güvenilir platform üzerinde bir araya getirmektir.
            </p>
            <p>
                Platformumuz, yardımlaşma sürecini dijital çağın gerekliliklerine uygun hale getirerek, bireylerin ve kurumların kolaylıkla destek sunabileceği bir alan sunar. Eğitim, sağlık ,gıda ve barınma gibi temel ihtiyaçlardan, çevre projelerine, hayvanların ihtiyaçlarına ve afet yardımlarına kadar uzanan geniş bir yelpazede çalışmalar yürütüyoruz.
            </p>
            <p>Birlikte, daha yaşanabilir bir dünya inşa etmek için adımlar atıyor, küçük bir iyiliğin bile büyük bir fark yaratabileceğine inanıyoruz. Siz de bu iyilik hareketine katılarak, köprüden geçen umutların bir parçası olabilirsiniz.</p>
        </div>
    </div>
</div>
