/* BEGIN EXTERNAL SOURCE */

    body {
        background-image: url('images/arkaplan.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

/* END EXTERNAL SOURCE */
